body { 
    background-color: antiquewhite;
    }

h1 {color: black; font-size: 36px;text-align: center;}
h2 {color: black; font-size: 26px;text-align: center;}

li {
    display: inline;  {
    text-align: center;
    #corretas - #incorretas

    }

